@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* 
body {
    background-image: url("/bg.svg");

} */

span#dayOfTheWeek {
    color: #009ACE;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    position: absolute;
    display: inline-flex;
    border-right: .15em solid white;
    -webkit-background-clip: text;
    background-clip: text;
    animation: typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;


}

.active>span:nth-child(1) {
    background-color: #FFD700;
    width: 4rem;
}

.active>span:nth-child(2) {
    color: #FFD700;

}




/*Animation*/

/* Keyframes for the typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    /* Text starts off with zero width */
    to {
        width: 100%;
    }

    /* Text expands to full width */
}

/* Keyframes for the cursor blinking effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    /* Cursor appears invisible */
    50% {
        border-color: white;
    }

    /* Cursor blinks with white color */
}